<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" integrity="sha512-rqQltXRuHxtPWhktpAZxLHUVJ3Eombn3hvk9PHjV/N5DMUYnzKPC1i3ub0mEXgFzsaZNeJcoE0YHq0j/GFsdGg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <title>WEB BÁN HÀNG</title>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                {% for item in navbaritems %}
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        {{item.title}}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                {% endfor %}
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="text" name="kw" placeholder="Nhập Tên Sản Phẩm Cần Tìm Kiếm...">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<section class="container">
    <div class="row">
        {% for phone in phones %}
        <div class="col-xs-12 col-md-3" style="padding = 10px">
            <div class="card">
                <img class="card-img-top" src="{{phone.url_image}}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">{{phone.ten_dt}}</h4>
                    <p class="card-text">{{phone.gia}}.</p>
                    <p class="card-text">{{phone.tinhtrang}}.</p>
                    <button href="#" class="btn btn-primary" type="submit">Thông Tin Chi Tiết</button>
                    <button href="#" class="btn btn-danger" type="submit">Đặt Hàng</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section>
    <div class="container mt-3 pagination justify-content-center pagination pagination-lg">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
</section>
<!-- Remove the container if you want to extend the Footer to full width. -->
<div>
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #929fba"
    >
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            Company name
                        </h6>
                        <p>
                            Here you can use rows and columns to organize your footer
                            content. Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none"/>

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                        {% for item in navbaritems %}
                        <p>
                            <a class="text-white">{{item.title}}</a>
                        </p>
                        {% endfor %}
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none"/>

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none"/>

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                        <p><i class="fas fa-home mr-3"></i> 371 Nguyễn Kiệm</p>
                        <p><a class="fas fa-envelope mr-3" href="mailto: 2151050112hai@.ou.edu.vn">2151050112hai@ou.edu.vn</a>
                        </p>
                        <p><i class="fas fa-phone mr-3"></i> 0868465406 </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

                        <!-- Facebook -->
                        <a
                                class="btn btn-primary btn-floating m-1"
                                style="background-color: #3b5998"
                                href="https://www.facebook.com/Quypp02/"
                                role="button"
                        ><i class="fab fa-facebook-f"></i>
                        </a>

                        <!-- Twitter -->
                        <a
                                class="btn btn-primary btn-floating m-1"
                                style="background-color: #55acee"
                                href="#!"
                                role="button"
                        ><i class="fab fa-twitter"></i
                        ></a>

                        <!-- Google -->
                        <a
                                class="btn btn-primary btn-floating m-1"
                                style="background-color: #dd4b39"
                                href="#!"
                                role="button"
                        ><i class="fab fa-google"></i
                        ></a>

                        <!-- Instagram -->
                        <a
                                class="btn btn-primary btn-floating m-1"
                                style="background-color: #ac2bac"
                                href="https://www.instagram.com/_hai.nha/"
                                role="button"
                        ><i class="fab fa-instagram"></i
                        ></a>

                        <!-- Linkedin -->
                        <a
                                class="btn btn-primary btn-floating m-1"
                                style="background-color: #0082ca"
                                href="#!"
                                role="button"
                        ><i class="fab fa-linkedin-in"></i
                        ></a>
                        <!-- Github -->
                        <a
                                class="btn btn-primary btn-floating m-1"
                                style="background-color: #333333"
                                href="https://github.com/TTHai-Git"
                                role="button"
                        ><i class="fab fa-github"></i
                        ></a>
                    </div>
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div
                class="text-center p-3"
                style="background-color: rgba(0, 0, 0, 0.2)"
        >
            © 2023 Trịnh Thanh Hải:
            <a class="text-white" href="http://it.ou.edu.vn/"
            >it.ou.edu.vn</a
            >
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->
</body>
</html>
