{% extends 'layout/base.html' %}
{% block content %}
<section class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-xs-12 col-md-3" style="padding = 10px">
            <div class="card">
                <img class="card-img-top" src="{{product.url_img}}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">{{product.name}}</h4>
                    <p class="card-text">{{"{:,.0f}".format(product.price)}} VNĐ</p>
                    <p class="card-text">{{product.description}}.</p>
                    {% if product.status == True %}
                    <p class="card-text">Tình trạng: Còn Hàng</p>
                    {% else %}
                    <p class="card-text">Tình trạng: Hết Hàng</p>
                    {% endif %}
                    <a href="/products/{{product.id}}" class="btn btn-primary">Xem Chi Tiết</a>
                    <a href="#" class="btn btn-danger"
                            onclick="addToCart({{product.id}}, '{{product.name}}', {{product.price}})">Đặt Hàng
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section>
    <div class="container mt-3 pagination justify-content-center pagination pagination-lg">
        <ul class="pagination">
            {% for page in range(pages) %}
            <!--            <li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
            <li class="page-item"><a class="page-link" href="\?page={{page + 1}}">{{page + 1}}</a></li>
            <!--            <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}
